@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-item:after {
    content: "";
    width: 0%;
    height: 2px;
    background: #fcf8f3;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  .nav-item:hover:after {
    width: 100%;
  }

  .form-box {
    width: 300px;
    height: 340px;
    text-align: center;
    position: relative;
    margin: auto;
    background: #ffcbcb00;
    padding-left: 0px;
    padding: 5px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .form-box span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
    margin-top: 20px;
  }

  .form-btn {
    display: inline-block;
  }

  .form-box form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 80px;
    transition: transform 1s;
  }

  form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
  }

  form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }

  form .btn:focus {
    outline: none;
  }

  .LoginForm {
    left: -300px;
  }

  .Regform {
    left: 0;
  }

  form a {
    font-size: 12px;
  }

  .Indicator {
    width: 100px;
    border: none;
    background: #113f67;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
  }

  .home-container {
    position: relative;
  }

  .sticky-icon {
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 9999;
  }

  .sticky-help {
    position: fixed;
    top: 90%;
    left: 2%;
    transform: translateY(-50%);
    z-index: 9999;
  }

  .sticky-search {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateY(-50%);
    z-index: 9999;
  }

  .sticky-summary {
    position: fixed;
    z-index: 9999;
  }

  .modal {
    max-width: 500px;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 767px) {
    .modal {
      width: 90%;
    }
  }

  .corner-date {
    position: absolute;
    z-index: 10;
  }

  .heading-background {
    background-image: linear-gradient(135deg, #eaff00, #3cb81d);
    border-radius: 6px;
    box-sizing: border-box;
    color: #493838aa;
    display: block;
    font-size: 1.875rem;
    font-weight: 600;
    padding: 4px;
    text-decoration: none;
    margin: 10px;
    text-align: center;
  }

  .chatbot-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

  /*Admin*/
  .admin-card {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 700;
  }

  .admin-card::before {
    content: '';
    position: absolute;
    left: -5px;
    margin: auto;
    padding: 12px;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background: linear-gradient(-45deg, #0dded7b7 0%, #dc78d7e2 100%);
    z-index: -10;
    pointer-events: none;
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
    box-shadow:
      inset 0 -3em 3em rgb(0 200 0 / 30%),
      0 0 0 2px white,
      0.3em 0.3em 1em rgb(200 0 0 / 60%);
  }

  .order-chart-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Move the container back by half of its width and height */
    z-index: 1000;
    border-radius: 10px;
    padding: 10px;
  }

  .order-chart {
    max-width: 800px;
    max-height: 800px;
    background-color: white;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    .order-chart {
      max-width: 350px;
    }
  }

  .text-col {
    background-image: linear-gradient(to right, rgb(0, 247, 255), orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    background-clip: text;
    color: #bbbb0a;
  }

}